streamlit==1.31.1
langgraph==0.0.26
langchain-groq==0.1.1
langchain-qdrant==0.0.1
langchain-huggingface==0.0.1
qdrant-client==1.9.0
python-dotenv==1.0.1
requests==2.31.0
pypdf==4.1.0
docx2txt==0.9
langchain-community==0.0.28
langchain-text-splitters==0.0.1
sentence-transformers