streamlit==1.31.1
langgraph
langchain-groq
langchain-qdrant
langchain-huggingface
qdrant-client
python-dotenv
requests
pypdf
docx2txt
langchain-community
langchain-text-splitters
sentence-transformers